/* color pallete
  * Sky Blue: #0284C7 (For links and headers and buttons)
  * Dark Grey Text: #333333 (For all paragraphs)
  * Very Light Grey: #F8FAFC (For the page background)
*/


/* general use */

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F8FAFC;
    color: #333333;
    /* flex display for full screen effect */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin and padding for full screen effect */
    margin: 0;
    padding: 0;
}

.btn {
    background-color: #0284C7;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 8px solid #0284C7;
}

.btn:hover {
    background-color: #FD7B38;
    color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0284C7;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #0284C7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 10px 20px;
    background-color: #F8FAFC;
    height: auto;
    flex-grow: 1;
    width: 100%;
    min-height: 100%;
    height: 100%;
    /* padding and margin for full screen */
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}

.full-image {
    width: 40%;
    height: auto;
    align-self: center;
    padding: 20px;
}

.center {
    text-align: center;
}

.team-img {
    width: 140px;
    height: auto;
    align-self: center;
    border-radius: 20%;
}


/* header and footer and sidebar */

.header {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

footer a {
    color: #FFFFFF;
}

.logo h1 a {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}

.main-nav a {
    margin-left: 20px;
    text-decoration: none;
}

.socials img {
    width: 22px;
    height: 22px;
    padding-top: 5px;
}

.nav-link {
    color: #333333;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: none;
    color: #0284C7;
}


/* home */

.hero-img {
    width: 100%;
    margin-bottom: 20px;
}

.home-table {
    margin-bottom: 20px;
    border-spacing: 60px;
    /* centers the table */
    align-self: center;
    /* makes the table fixed width and td same*/
    table-layout: fixed;
    width: 100%;
}

.home-table td {
    padding: 10px;
    border: 6px solid #0284C7;
    border-radius: 10px;
    text-align: center;
    background-color: #e9e9e9;
}

.home-p {
    font-size: 18px;
    text-align: center;
    padding: 20px;
}


/* forms */

#table tr:hover td {
    background-color: #7cd3ff;
    cursor: pointer;
}

#table {
    margin-top: 20px;
}

#table tr {
    text-align: center;
}

#table td {
    padding: 10px;
}


/* login */

.login-card {
    max-width: 400px;
    margin: 50px auto;
}


/* programs */

.programs a {
    color: #333333;
    text-decoration: none;
}

.programs a:hover {
    text-decoration: underline;
    color: #0284C7;
}